


@font-face {
    font-family: 'Merriweather-r';
    src: url('Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-bl' ;
    src: url('Merriweather-Black.ttf');
}

@font-face {
    font-family: 'Rubik-bo';
    src: url('Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-r';
    src: url('Rubik-Regular.ttf');
}


#cybersecu{
    font-family: 'Merriweather-r';
    font-size: 30pt;
    background-color: #27282A;
    margin-left: 165px;
}

#articleTitle{
    font-family: 'Merriweather-bl';
    font-size: 90pt;
    position: relative;
    margin: auto;
    background-color: #2D394E;

}

#keyWords{
    font-family:'Rubik-bo';
    font-size: 35pt;
    position: relative;
    margin: auto;
    background-color: #AED9E0;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

#bloc_1{
    margin-left: 97px;
}

#glossaire{
    background-color: #2D394E;
    font-family: 'Rubik-r';
    padding-top: 50px;
    font-size: 30px;
}


#glossaireContent{
    background-color: #AED9E0;
    font-family: 'Merriweather-r';
    font-size: 20px;

}




