
body{
    zoom: 70%;

}

#bg{
    background-image: url('marble2.jpg');
}

#lol{
    background-color: #222222;
}


#paper_io{
    background-image: url("paper.jpg");
}


@font-face {
    font-family: 'Merriweather-r';
    src: url('Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather-bl';
    src: url('Merriweather-Black.ttf');
}

@font-face {
    font-family: 'Rubik-bo';
    src: url('Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-r';
    src: url('Rubik-Regular.ttf');
}


#cybersecu{
    font-family: 'Merriweather-r';
    font-size: 22pt;
    margin-left: 110px;
    background-color: #27282A;
}


@media screen and (max-width:805px) {
    #cybersecu{
        width: 210px;
       
    }
    
}

#articleTitle{
    font-family: 'Merriweather-r';
    font-size: 60pt;
    position: relative;
    margin: auto;
    background-color: #2D394E;
}

@media screen and (max-width: 64em) {
    #articleTitle {
        font-size: 20pt;}}


#keyWords{
    font-family:'Rubik-bo';
    font-size: 23pt;
    position: relative;
    margin: auto;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 12px;
    background-color: white;
}

#bloc_1{
    margin-left: 97px;

}

#glossaire{
    background-color: #2D394E;
    font-family: 'Rubik-r';
    padding-top: 30px;
    font-size: 40px;
}


#glossaireContent{
    background-color: #AED9E0;
    font-family: 'Merriweather-r';
    font-size: 20px;
    padding: 20px;
    background-image: url("paper.jpg");

}




#firstImage{
    height: 490px;
}

@media screen and (max-width: 805px) {
   #firstImage{
      display: none;
   }}


#cryptoNumeri{
    background-color: #2D394E;
    font-family: 'Merriweather-r';
    font-size: 40px;
}

#cryptoNumeriTxt{
    background-image:url("colorspot.png");
    background-size: 800px;
    font-family: 'Rubik-r';
    margin-top: -29px;
    padding: 20px;
    color: black;
    
}

#cryptoNumeriTxt1{
    background-image:url("colorupdown.png");
    background-position: left;
    background-size: 600px;
    font-family: 'Rubik-r';
    padding: 20px;
    margin-top: -35px;

}

#cryptoNumeriEnd{
    background-image:url("colorspot.png");
    background-position: right;
    background-size: 700px;
    font-family: 'Rubik-r';
    height: 250px;
    
   

}

#comput{
    width: 470px;
    height: 330px;
    margin-top: 120px;
    margin-bottom: -50px;




}


@media screen and (max-width: 805px) {
    #comput{
        margin: auto;
        margin-top: -80px;
        display: flex;

    }
}





#separ{
border-top: 1px solid #ffffff;
width : 600px;

}

#line{
    width: 1050px;
    margin-left: -50px;
}

@media screen and (max-width: 805px){
    #line{
        display: none;
    
    }
}



.title2{
    font-family: 'Merriweather-r';
    font-size: 58px;
    background-color: white;
    
    z-index: 2;
    
    
}

.title2end{
    background-color: #AED9E0;
}


@media screen and (max-width: 805px) {
    #squ{
        display: none;
    }
}


#secTitle{
    background-image: url('colorspot.png');
    background-position: top;
}


@media screen and (max-width: 805px) {
    #secTitle{
        font-size: 30px;
        width: 400px;
        margin: auto;

    
    }
    
}

#cryptoBG{
    background-color: #2D394E;
    box-shadow: 8px 8px  #27282A;
}

#cryptoBG1{
    background-color: #AED9E0;
    box-shadow: 8px 8px  #27282A;
    z-index: 1;
}

@media screen and (max-width:805px) {
   #cryptoBG{
        width: 500px;
   }
}

@media screen and (max-width:805px) {
   #cryptoBG1{
       width: 500px ;
   }
}

@media screen and (max-width: 805px) {
    #cryptoNumeriEnd{
        width: 600px;

    }
    }

    @media screen and (max-width: 805px) {
        #cryptoNumeriTxt1{
            width: 600px;
            margin: auto;
        }
        }
    
    


/*7B8AA3*/

#digitalpic{
    width: 800px;
    margin-left: 10px;


}

@media screen and (max-width:805px) {
    #digitalpic{width: 400px;}
}

#onpic{
    z-index: 2;
    margin-top: -200px;
    padding-bottom: 200px;
}

#conclus{
    font-family: 'Merriweather-bl';
    font-size: 50px;
    letter-spacing: 20px;

}


#conclus__txt{
    background-color: #2D394E;
    color: white;
    font-family: 'Rubik-r';
}

@media screen and (max-width:805px) {
    #conclus__txt{
        width: 500px;
    }
    
}


