



.body__background{
    background-image: url(../assets/background.jpg);
}


:root{
    --primary-color: #2D394E;
    --secondary-color: #7B8AA3;
    --dark: #27282A;
    --light:#AED9E0; 
}


.titre__h1--metier{
    font-family: 'Merriweather';
    font-size: 52px;
    background-color:var(--light);
    padding-left: 10px;
    border: white 5px solid;
}

.titre__h3{
    font-family: 'Merriweather';
    font-size: 42px; 
    background-color:var(--light) ;
    padding-left: 10px;
    border: white 5px solid;
    opacity: 85%;
}


.image__top--size{
    height: 380px;
    border: solid 10px white;

}

.flip-card__opacity{
    opacity: 90%;
}


.image__bottom--size-webdev-work{
    width: 100%;
    margin-left: 10px;
    margin-right: 20px;
    border: solid 10px white;
    opacity: 90%;
}



.paragraphe__top{
    font-size: 20px;
    padding:20px 20px 20px 20px; 
    margin-left: 30px;
    background-color: var(--light);
    border: solid 3px white;
    
}

.paragraphe__middle{
    font-size: 20px;
    padding:40px 20px 20px 20px;; 
    margin-top: 50px;
    margin-left: 10px;
    background-color: var(--light);
    border: white 5px solid;
}

.line__blue{
    background-color: var(--primary-color);
    opacity: 80%;
}


.bckgrd-color-2{
    background-color: var(--primary-color);
    margin-right: 50px;
    border-radius: 10px; 
    margin-left: 50px;
    border: white solid 10px;
}






