
.h4 {
    font-family: 'Merriweather';
    color:black;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
:root{
 --primary-color: #2D394E;
 --secondary-color: #7B8AA3;
 --dark: #27282A;
 --light:#AED9E0; 

}


.body{
    font-family:'Merriweather';
    width: 100%;
    min-height:100vh;
}

.card{
    margin: 100px auto 0;
    width: 400px;
    height: 600px;
    background-color: var(--secondary-color);
}

.card__inner,.card__inner-2{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor:pointer;
    position: relative;
}

.card__inner.is-flipped, .card__inner-2.is-flipped{
    transform: rotateY(180deg);
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow:hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card__face{
    background-image: linear-gradient( to bottom right, var(--primary-color), var(--dark));
    
}

.card__header--front {
    align-items: top ;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--dark);
    border-radius: 10px;
}

.container-hacking{
    background-color: var(--light);
    width: 250px;
    height: 200px;
    font-size: 22px;
    position: relative;
    margin: 90px 30px 30px; 
    box-shadow:var(--dark) 10px 10px 10px; 
    border-radius: 10px;  
    padding-left: 5px; 
    padding-right: 5px;
}

.container-white-2{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    margin: auto; 
    margin-top: 50px;
}

.card__face--back{
    background-color: var(--light);
    transform: rotateY(180deg);
}


.card__header--back{
    position: relative;
    padding: 30px 30px 40px;
   
}

.card__body--back{
    align-items: bottom;
}



.card__face--back h2{
    color: #fff;
    font-size: 32px; 
    background-color: var(--dark);
    border-radius: 10px;
}

.img{
    display: block;
    width: 300px;
    height: 300px;
    position: relative;
    margin:auto;
    margin-bottom: 10px;
}



button{
    height: 75px;
    width: 200px;
    margin-top: 50px;
    font-family: 'mermaid';
    font-size: 24px;
    background-color: var(--light);
    border-radius: 10px;
    align-content: center;
    margin-top: 0px;
    margin-left: 100px;  
}

button:hover{
    background-color: var(--primary-color);
    color: white;
}
