


body{
    zoom:90%
}


.body-image{
    background-image: url(../assets/background.jpg);
}


:root{
    --primary-color: #2D394E;
    --secondary-color: #7B8AA3;
    --dark: #27282A;
    --light:#AED9E0; 
}


.h1{
    font-family: 'Merriweather';
    font-size: 56px;
    background-color:var(--light);
    padding-left: 10px;
    border: white 5px solid;
}

h3{
    font-family: 'Merriweather';
    font-size: 46px; 
    background-color:var(--light) ;
    padding-left: 10px;
    border: white 5px solid;
}


#image-size{
    height: 480px;
    margin-right: auto;
    border: solid 10px white
    
   
}
@media screen and (min-width: 680px){ 
    #image-size{
    position: absolute;
    margin-top: -56px;
    } 
}

#img-position{
    display: flex;
    justify-content: flex-end;
}

#p{
    font-size: 20px;
    padding:20px 20px 20px 20px; 
    margin-left: 30px;
    background-color: var(--light);
    border: solid 3px var(--primary-color)
}

#p2{
    font-size: 18px;
    padding:10px 10px 10px 10px; 
    margin-top: 50px;
    margin-left: -10px;
    background-color: var(--light);
    border: white 5px solid;
}






.blue-line{
    background-color: var(--primary-color);
}


.bckgrd-color-2{
    background-color: var(--primary-color);
    margin-right: 50px;
    border-radius: 10px; 
    margin-left: 50px;
    border: white solid 10px;
}



#img-size-2{
    width: 100%;
    margin-left: 20px;
    display: flex;
    border: solid 10px white
}

#body-image-card{
    background-image: url(../assets/background.jpg);
    opacity: 99%;
}