

:root{
    --primary-color: #2D394E;
    --secondary-color: #7B8AA3;
    --dark: #27282A;
    --light:#AED9E0; 
}


.h1{
    font-family: 'Merriweather';
    font-size: 56px;
    background-color:var(--light) ;
    padding-left: 10px;
}

h3{
    font-family: 'Merriweather';
    font-size: 46px; 
}


#image-size{
    height: 480px;
    margin-right: auto;
    border: solid 5px var(--dark)
    
   
}
@media screen and (min-width: 680px){ 
    #image-size{
    position: absolute;
    margin-top: -56px;

    } 
}

#img-position{
    display: flex;
    justify-content: flex-end;
}

#p{
    font-size: 20px;
    padding:10px 10px 10px 10px; 
    margin-left: 15px;
}

#p2{
    font-size: 18px;
    padding:10px 10px 10px 10px; 
    margin-top: 50px;
    margin-left: -10px;
    background-color: var(--light);
}



.bckgrd-color{
    background-color: var(--light);
    border-radius: 10px; 
}


.blue-line{
    background-color: var(--primary-color);
}

.bckgrd-color-2{
    background-color: var(--secondary-color);
    margin-right: 50px;
    border-radius: 10px; 
    margin-top: 25px;
    margin-left: 50px;
}

#row-card-1{
margin-bottom: -40px;
margin-top: 40px;
}

#row-card-2{
    margin-top: -20px;
    margin-bottom: 30px;
}


#img-size-2{
    width: 100%;
    margin-left: 20px;
   
    display: flex;
    border: solid 5px var(--dark)
}

