
a:link{
    text-decoration: none;
}


body{
    zoom: 80%;
}


#logo{
    width: 240px;
    margin-left: 100px;
}


.rowtitle{
font-family: fantasy;
}

.rowbloc{
    color: #706e6e;
}
  
.container-fluid{
    padding-right: 0;
    padding-left: 0;
}

#section-1{
    height: 90vh;
    width: 100%;
    background-image: url("geometric.jpg");
    background-size: cover;
}

@font-face{
    font-family: 'Merriweather';
    src: url('Merriweather-Black.ttf');
}

@font-face{
    font-family: 'Rubik-Medium';
    src: url('Rubik-Medium.ttf');
}

@font-face{
    font-family:'Rubik-Bold';
    src: url('Rubik-Bold.ttf')
}

@font-face{
    font-family:'Merriweather-regul';
    src: url('Merriweather-Regular.ttf');
}


#title-color-white{
    color: white;
    font-family: 'Rubik-Medium';
    font-size: 16px;
    margin-left: 100pt;
    padding-bottom: 0pt;
}

#text-color-white{
    color: white;
    margin-top: 1pt ;
    margin-left: 100pt;
    font-family: 'Merriweather';
    font-size: 30px;
    line-height: 40px;
}

#playbuton{

    vertical-align: middle;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Merriweather';
    box-shadow: #222F33 8px 8px;
    
}

#playbuton:hover{
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: #222F33 4px 4px;

}

#text-color-white2{
    color: white;
    font-family: 'Rubik-Bold';
    font-size: 16px;
    margin-top: 200px;
    margin-left: 210px;
    cursor: pointer;
    
}

.rowtitle{
    margin-left: 120pt;
    font-family:'Merriweather';
    font-size: 40px;
    font-weight: bold;
    
}

.rowbloc{
    margin-left: 120pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#contactbuton{
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:18px;
    padding-right:18px;
    border-radius: 4px;
}

#contactbuton:hover{
    background-color: rgba(0, 0, 0, 0);
    color:white;
}



#logo{
    padding-left:15px;
}







.titleplusblocpluslees{
    padding-top: 50px;
}

.lees-meer{
    border-style: solid;
    border-color:#606B74;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:8px ;
    padding-bottom:8px ;
    font-family:'Rubik-Bold';
    color:#606B74;
    
}

.lees-meer:hover{
    background-color: #606B74;
    color:white;
}



.social-network-pointer:hover{
    cursor: pointer;
    letter-spacing: 5px;
}

#social-network{
    writing-mode: vertical-lr;
    margin-left: 500px;
    margin-top: 100px;
    position:absolute;
    word-spacing: 30px;
    color: white;
    font-family: 'Rubik-Bold';
}



#cybersecumetier{
    font-family:'Merriweather';
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;

}

#cybersecumetier__txt{
    font-family: 'Rubik-Medium';
    font-weight: 500;
    color:#606B74;
    line-height: 30px;
    font-size: 15px;
}


@media screen and (max-width:805px){
    #cybersecumetier{
zoom: 60%;
text-align: start;
margin-left: -200px;

    }
}

@media screen and (max-width:805px) {
    #cybersecu__txt{
        font-size: 15px;
margin-left: -120px;
text-align: start;
width: 500px;

    
    }
}











.col-md-4{
    margin-left: 130px;
    padding-top: 62px;
}

#poutre{
    width: 400px;
    height: 500px;
    margin-left: 200px;
    margin-top: -100px;
    position: absolute;

    background-color:#222F33;
    border: 1px #222222 solid;

}

#bg-test{
    background-color: #222F33;
}


@media (max-width : 1000px ){
    #poutre{display: none;}
}

#bckgrd{
    width: fit-content;
    
}


#webdesigner{
    font-family: 'Merriweather';

    
}

.webdesigner__txt{
    font-family: 'Rubik-Medium';
    font-weight: 200;
    color:white;
    margin-bottom: 20px;
    

}

@media screen and (max-width:805px) {
    #webdesigner{ 
        text-align: start;
        width: 500px;
        margin-left: -60px;
    }
}

@media screen and (max-width:805px) {
    .webdesigner__txt{ 
        text-align: start;
        width: 500px;
        margin-left: -60px;
    }
}











h2{
    font-family: 'Merriweather';
    font-size: 20px;
}

p{
    font-family: 'Rubik-Medium';
    color: #646d70;
}

#cabpaged{
    
width: 420px;
align-content: center;

}

#cabpaged__title{
    font-family: 'Rubik-Bold';
}


#cabpaged__pic{
    font-family: 'Rubik-Bold';
}

@media screen and (max-width:805px) {
    #cabpaged__title{
        display: none;
    }
}




#logofooter{
    width: 180px;
    margin-left: 100px;
}

#infocontact{
    color: #646d70;
}

#infocontact:hover{
    color:white;
    cursor: pointer;
}

#cookiesplus{
    color:#646d70;
}

#cookiesplus:hover{
    color: white;
    cursor: pointer;
}


#webdesigner__btn{
    margin-top: 30px;
    border-style: solid;
    border-color:#ffffff;
    background-color: #222F33;
    border-radius: 5px;
    font-family:'Rubik-Bold';
    color:#ffffff;
    padding-top:8px ;
    padding-bottom:8px ;
}


#webdesigner__btn:hover{
    border-color:#ffffff;
    background-color: #ffffff;
    color:#222F33;
}
